/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2018, 9:26:01 PM
    Author     : Administrator
*/

.a{
    margin-right: 20px;
}
.b{
    color: #ffffff;
}
.c{
    margin-left: 20px;
    margin-right: 20px
}
.d{
    margin-top: 30px;
}
.e{
    font-size: 10px
}